<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Search Companies</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<style type="text/css">
.center {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
</style>
</head>
<body>
	
	<p></p>
	<div class="container my-2">
		<table border="1" class="table table-striped table-responsive-md">
			<form th:action="@{/companies/find}" method="POST">
				<thead>
					<tr>
						<td colspan="2">
						<select name="companyName" >
							<option value="0">Select Company</option>
							<option th:each="company : ${listCompanies}" th:value="${company.name}" th:text="${company.name}" class="form-control mb-4 col-4"></option>
						</select>
						<button type="submit" class="btn btn-info">Get Sub-Companies/Stations</button></td>
					</tr>
				</thead>
			</form>
			
			<tbody>
				<tr>
					<th colspan="2"><label  class="col-form-label">Company/Sub Companies</label></th>
				</tr>				
				<tr th:each="company : ${subCompanies}">
					<td th:text="${company.name}"></td>
				</tr>
			</tbody>
			<tbody>
				<tr>
					<th colspan="2"><label  class="col-form-label">Stations</label></th>
				</tr>			
				<tr th:each="subStation : ${subStations}">
					<td th:text="${subStation.name}"></td>
				</tr>
			</tbody>						
		</table>
	</div>
	
	<p></p>
	
	<div class="container my-2">
		<table border="1" class="table table-striped table-responsive-md">
			<tr>
				<td><a th:href="@{/}"> Home</a></td>
				<td><a th:href="@{/searchStations}"> Search Stations</a></td>
			</tr>
		</table>
	</div>
</body>
</html>