<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Search Stations</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<style type="text/css">
.center {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
</style>
</head>
<body>
	<p></p>
	<div class="container my-2">
		<table border="1" class="table table-striped table-responsive-md">
			<form th:action="@{/stations/find}" method="POST">
				<thead>		
					<tr>
						<td colspan="4">
							Radius : <input type="text" th:value="${radius}" name="radius" placeholder="Radius" class="form-control mb-4 col-4">
							Longitude : <input type="text" th:value="${longitude}" name="longitude" placeholder="Longitude" class="form-control mb-4 col-4">
							Latitude : <input type="text" th:value="${latitude}" name="latitude" placeholder="Latitude" class="form-control mb-4 col-4">
							<button type="submit" class="btn btn-info col-2">Find near by stations</button>
						</td>
					</tr>
				</thead>
			</form>
			<thead>		
				<tr>
					<th>Distance</th>
					<th>Station Name</th>
					<th>Longitude</th>
					<th>Latitude</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="stationMap : ${nearby}">
					<td th:text="${stationMap.key}"></td>
    				<td th:text="${stationMap.value.name}"></td>
    				<td th:text="${stationMap.value.longitude}"></td>
    				<td th:text="${stationMap.value.latitude}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<p></p>

	<div class="container my-2">
		<table border="1" class="table table-striped table-responsive-md">
			<tr>
				<td><a th:href="@{/}"> Home</a></td>
				<td><a th:href="@{/searchCompanies}"> Search Companies</a></td>
			</tr>
		</table>
	</div>
</body>
</html>